/* Media Queries for Header and Sidebar */
@media (max-width: 970px) {
  .dialog-content {
    overflow: scroll;
    scrollbar-width: none;
  }

  .dialog-content::-webkit-scrollbar {
    display: none;
  }

  .size100 {
    width: 100% !important;
    height: 88% !important;
    padding: 0 61px !important;
  }

  .headline {
    margin: 0 !important;
    padding: 0 0 0 16px !important;
  }

  .dialog-content {
    position: relative !important;
  }

  .main-container {
    height: auto !important;
  }

  .main-buttons {
    top: calc(100vh - 209px) !important;
    width: calc(100vw - 160px) !important;
    background-color: white !important;
  }

  .close-dialog {
    top: 16px;
    right: 72px;
  }

  #showSubtasks {
    overflow: visible !important;
    max-height: none !important;
  }

  .sub-container {
    padding: 32px 16px 80px 16px !important;
  }
}

/* Media Queries for Content of Page */

@media (max-width: 1500px) {
  .card {
    width: auto;
    min-width: fit-content;
  }
  .subtasks-board {
    flex-direction: column;
    align-items: flex-start;
  }
  main {
    padding: 144px 32px 0 64px;
    margin-left: 200px;
  }
  .title-column {
    padding: 0 12px;
  }
  .grid-tasks {
    gap: 16px;
  }
  .card-title {
    max-width: 160px;
  }
  .card p {
    width: 160px;
  }
}

/* Extra large devices (large laptops and desktops up to 1200px) */
@media (max-width: 1200px) {
  .subtasks-board {
    display: none;
  }
  .card p {
    display: none;
  }
  main {
    padding: 144px 12px 0 12px;
    margin-left: 200px;
  }
  .title-column {
    padding: 0;
  }
  .title-column span {
    font-size: 18px;
  }
  .card-title {
    max-width: 120px;
  }
  .close-dialog {
    right: 69px;
  }
}

/* Large devices (laptops/desktops up to 970px) */
@media (max-width: 970px) {
  main {
    padding: 0;
    margin-left: 0;
  }
  .title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 80px;
    margin-bottom: 0;
    padding: 36px 24px 0 24px;
    box-sizing: border-box;
  }
  h1 {
    margin: 0;
    padding: 0;
  }
  .grid-tasks {
    flex-direction: column;
    overflow: auto;
    margin-bottom: 80px;
    padding-bottom: 24px;
  }
  .add-task {
    display: none;
  }
  .add-task-media {
    display: flex;
  }
  .task-columns {
    flex-direction: row;
    overflow-x: auto;
    padding: 0 24px;
    box-sizing: border-box;
    min-height: 88px;
  }
  .card {
    width: 218px;
    min-width: 218px;
  }
  .subtasks-board {
    flex-direction: row;
    align-items: center;
  }
  .subtasks-board {
    display: flex;
  }
  .card p {
    display: flex;
    word-break: break-word;
    width: 100%;
  }
  .title-column {
    padding: 0 16px;
  }
  .search {
    margin: 24px;
  }
  .card-title {
    max-width: 230px;
  }
  .empty-task {
    width: 240px;
    min-width: 240px;
  }
  .no-tasks-found {
    bottom: 0px;
    left: 44px;
  }
  .showCategories {
    display: flex;
  }
  .card-edit-section-input {
    font-size: 16px;
    padding: 12px;
  }
  .card-edit-section-input::placeholder {
    font-size: 16px;
  }
  .subtitle {
    font-size: 16px;
  }
  .card-edit-priority-btn {
    font-size: 16px;
  }
  .open-dropdown-assign {
    top: 40px;
  }
  .addDeleteSubtask {
    top: 10px;
  }
}

/* Medium devices (landscape tablets up to 768px) */
@media (max-width: 768px) {
}

/* Small devices (portrait tablets and large phones up to 600px) */
@media (max-width: 600px) {
  .card-detail {
    width: 75%;
    display: flex;
    padding: 32px 24px;
    flex-direction: column;
    gap: 16px;
  }
  .card-detail-title {
    font-size: 36px;
  }
  .card-detail-category {
    font-size: 16px;
  }
  .font-20px-400 {
    font-size: 19px;
  }
  .card-edit-priority {
    flex-direction: column;
  }
  .card-edit-priority-btn {
    width: 100%;
    max-width: 200px;
  }
  .drop-down-assigned-to {
    width: 100%;
  }
}

@media (max-width: 570px) {
  .size100 {
    padding: 0 16px !important;
  }

  .main-buttons {
    width: calc(100vw - 70px) !important;
  }

  .close-dialog {
    right: 32px;
  }

  .task-columns {
    scrollbar-width: none;
  }

  .task-columns::-webkit-scrollbar {
    display: none;
  }
  .open-dropdown-assign {
    right: 8px;
  }
}
