/* Colors Members */
.color-red {
    background-color: red;
}

.color-blue {
    background-color: blue;
}

.color-green {
    background-color: green;
}

.color-purple {
    background-color: purple;
}

.color-purple {
    background-color: purple;
}

.color-orange {
    background-color: orange;
}

.color-yellow {
    background-color: yellow;
}

.color-aqua {
    background-color: aqua;
}

.color-beige {
    background-color: beige;
}

.color-aquamarine {
    background-color: aquamarine;
}

.color-violet {
    background-color: violet;
}

.color-darkgoldenrod {
    background-color: darkgoldenrod;
}

.color-firebrick {
    background-color: firebrick;
}

.color-olive {
    background-color: olive;
}

.color-salmon {
    background-color: salmon;
}

.color-sienna {
    background-color: sienna;
}

.color-cyan {
    background-color: cyan;
}

.color-dimgray {
    background-color: dimgray;
}

.color-darkred {
    background-color: darkred;
}

.color-navy {
    background-color: navy;
}

.color-standard-blue {
    background-color: #2A3647;
}

.color-tech-task-green {
    background-color: #1FD7C1;
}